# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Database files
*.db
*.sqlite3

# Data files (можливо, ви захочете зберігати їх окремо)
data/raw/
data/processed/

# Output files
output/figures/
output/reports/

# IDE specific files
.idea/
.vscode/
